extends layout2

block content
  h1 Keyword Addition

  -data = data || {}

  if errors
    ul
      for error in errors
        li= error.msg

  form(action="/addition" method="POST")
    label(for="keyword") Keyword:
    input(
      type="text"
      id="keyword"
      name="keyword"
      class="form-control"
      value=data.name
    )
    br

    label(for="category") Category:
    br
    select(
      name="category",
      id="category"
      class="select-picker"
      value=data.name
    )
      option(value='technology') Technology
      option(value='indicator') Indicator
    br
    br

    input(
      type="submit"
      value="Submit"
      class="btn btn-lg btn-primary btn-block"
    )